.outline{
    border: 2px solid black;
    padding: 10px;
    margin-right: 110px;
    margin-bottom: 20px;
}
.margin-right{
    margin-right: 4px;
}
.center {
    margin: auto;
    width: 50%;
  }
  .btn-primary{
    background-color: #4D4C7D;
    border-color: #4D4C7D;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Dosis', sans-serif;
}
.btn-color{
    color: #4D4C7D;
}
.selector:active{
    color:#4D4C7D;
}
.preloader {
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999999;
    overflow: hidden; }
    .preloader .preloader-circle {
      width: 80px;
      height: 80px;
      position: relative;
      border-style: solid;
      border-width: 2px;
      border-top-color: #795376;
      border-bottom-color: transparent;
      border-left-color: transparent;
      border-right-color: transparent;
      z-index: 10;
      border-radius: 50%;
      box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.15);
      -webkit-animation: zoom 2000ms infinite ease;
      animation: zoom 2000ms infinite ease; }
    .preloader .preloader-img {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      z-index: 200; }
      .preloader .preloader-img img {
        max-width: 45px; }
  
  @-webkit-keyframes zoom {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg); }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg); } }
  @keyframes zoom {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg); }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg); } }
  